Makefile.in
aclocal.m4
autom4te.cache
bwct/config.h.in
compile
config.guess
config.sub
configure
configure~
depcomp
install-sh
missing
.deps/
Makefile
*.o
bwct/config.h
bwct/stamp-h1
config.log
config.status
libbwct-config
libbwct.a
libbwct-*.tar.gz
bwct/config.h.in~
